page-member {
  .info {
    background: black;
    padding-left: 7%;
    padding-right: 3%;
    color: white;
  }

  .info .title {
    font-weight: bold;
    font-size: 120%;
  }

  .info .logintips {
    font-size: 80%;
  }

  .info .photo {
    width: 100%;
    border-radius: 50%;
    border: solid 2px #cccccc;
  }

  .info .title .rankname {
    padding:2px;
    font-size: 8px;
    background-color: white;
    color: black;
    border-radius: 2px;
  }
  .info .toprighticon{
      font-size:150%;
      padding-left:3.09%;
  }
}
